In [5]:
import pandas as pd
import numpy as np

In [6]:
s = pd.Series([1,3,4,np.nan,6.8])
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.8
dtype: float64

In [7]:
dates = pd.date_range('2013-01-03', periods = 6)
dates

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = ['A','B','C','D'])
df

                   A         B         C         D
2013-01-03 -0.498318  0.329915 -0.190690  0.981476
2013-01-04 -1.263817  0.152838  1.317402  1.401648
2013-01-05 -0.185400  0.581422  0.656454 -0.644430
2013-01-06 -0.349343  1.986127  0.535815  0.361854
2013-01-07 -1.828226  1.943640  0.088903 -0.340475
2013-01-08  1.242900 -0.968172  0.333747  0.283213

In [9]:
df.head(3)

                   A         B         C         D
2013-01-03 -0.498318  0.329915 -0.190690  0.981476
2013-01-04 -1.263817  0.152838  1.317402  1.401648
2013-01-05 -0.185400  0.581422  0.656454 -0.644430

In [10]:
df.index

DatetimeIndex(['2013-01-03', '2013-01-04', '2013-01-05', '2013-01-06',
               '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')